html, body {
	height:100%;
	width:100%;
	background:#000522;
	margin:0;
	overflow:hidden;
}

div.ajs-video-container {
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

div.ajs-video-floater {
	height:50%; 
	position:relative;
	margin-bottom:-180px;
}

.ajs-default-skin .vjs-big-play-button {
	top:60%;

}

div.ajs-default-skin {
	height:100% !important;
	width:100% !important;
}