.ajs-default-skin {
  color: #cccccc;
}
/* Custom Icon Font
--------------------------------------------------------------------------------
The control icons are from a custom font. Each icon corresponds to a character
(e.g. "\e001"). Font icons allow for easy scaling and coloring of icons.
*/
@font-face {
    font-family: 'Atlantis';
    src: url('fonts/atlantisjs.eot?#iefix') format('embedded-opentype'), url('fonts/atlantisjs.svg') format('svg'), url('fonts/atlantisjs.woff') format('woff'), url('fonts/atlantisjs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Base UI Component Classes
--------------------------------------------------------------------------------
*/
/* Slider - used for Volume bar and Seek bar */
.ajs-default-skin .vjs-slider {
  /* Replace browser focus hightlight with handle highlight */
  outline: 0;
  position: relative;
  cursor: pointer;
  padding: 0;
  /* background-color-with-alpha */
  background-color: #ccc;
}
.ajs-default-skin .vjs-slider:focus {
  /* box-shadow */
  -webkit-box-shadow: 0 0 2em #ffffff;
  -moz-box-shadow: 0 0 2em #ffffff;
  box-shadow: 0 0 2em #ffffff;
}
.ajs-default-skin .vjs-slider-handle {
  position: absolute;
  /* Needed for IE6 */
  left: 0;
  top: 0;
}
.ajs-default-skin .vjs-slider-handle:before {
  content: "\e009";
  font-family: Atlantis;
  font-size: 1em;
  line-height: 1;
  text-align: center;
  text-shadow: 0em 0em 1em #fff;
  position: absolute;
  top: 0;
  left: 0;
  /* Rotate the square icon to make a diamond */
  /* transform */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* Control Bar
--------------------------------------------------------------------------------
The default control bar that is a container for most of the controls.
*/
.ajs-default-skin .vjs-control-bar {
  /* Start hidden */
  display: none;
  position: absolute;
  /* Place control bar at the bottom of the player box/video.
     If you want more margin below the control bar, add more height. */
  bottom: 0;
  /* Use left/right to stretch to 100% width of player div */
  left: 0;
  right: 0;
  /* Height includes any margin you want above or below control items */
  height: 3.0em;
  /* background-color-with-alpha */
  background-color: #222;
  z-index:4;
}
/* Show the control bar only once the video has started playing */
.ajs-default-skin.vjs-has-started .vjs-control-bar {
  display: block;
  /* Visibility needed to make sure things hide in older browsers too. */

  visibility: visible;
  opacity: 1;
  /* transition */
  -webkit-transition: visibility 0.1s, opacity 0.1s;
  -moz-transition: visibility 0.1s, opacity 0.1s;
  -o-transition: visibility 0.1s, opacity 0.1s;
  transition: visibility 0.1s, opacity 0.1s;
}
/* Hide the control bar when the video is playing and the user is inactive  */
.ajs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  display: block;
  visibility: hidden;
  opacity: 0;
  /* transition */
  -webkit-transition: visibility 1s, opacity 1s;
  -moz-transition: visibility 1s, opacity 1s;
  -o-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s;
}
.ajs-default-skin.vjs-controls-disabled .vjs-control-bar {
  display: none;
}
.ajs-default-skin.vjs-using-native-controls .vjs-control-bar {
  display: none;
}
/* IE8 is flakey with fonts, and you have to change the actual content to force
fonts to show/hide properly.
  - "\9" IE8 hack didn't work for this
  - Found in XP IE8 from http://modern.ie. Does not show up in "IE8 mode" in IE9
*/
@media \0screen {
  .ajs-default-skin.vjs-user-inactive.vjs-playing .vjs-control-bar :before {
    content: "";
  }
}
/* General styles for individual controls. */
.ajs-default-skin .vjs-control {
  outline: none;
  position: relative;
  float: left;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 3.0em;
  width: 4em;
}
/* FontAwsome button icons */
.ajs-default-skin .vjs-control:before {
  font-family: Atlantis;
  font-size: 1.5em;
  line-height: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/* Replacement for focus outline */
.ajs-default-skin .vjs-control:focus:before,
.ajs-default-skin .vjs-control:hover:before {
}
.ajs-default-skin .vjs-control:focus {
  /*  outline: 0; */
  /* keyboard-only users cannot see the focus on several of the UI elements when
  this is set to 0 */

}
/* Hide control text visually, but have it available for screenreaders */
.ajs-default-skin .vjs-control-text {
  /* hide-visually */
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Play/Pause
--------------------------------------------------------------------------------
*/
.ajs-default-skin .vjs-play-control {
  width: 5em;
  cursor: pointer;
}
.ajs-default-skin .vjs-play-control:before {
  content: "\e006";
}
.ajs-default-skin.vjs-playing .vjs-play-control:before {
  content: "\e008";
}
/* Volume/Mute
-------------------------------------------------------------------------------- */
.ajs-default-skin .vjs-mute-control,
.ajs-default-skin .vjs-volume-menu-button {
  cursor: pointer;
  float: right;
}
.ajs-default-skin .vjs-mute-control:before,
.ajs-default-skin .vjs-volume-menu-button:before {
  content: "\e001";
}
.ajs-default-skin .vjs-mute-control.vjs-vol-0:before,
.ajs-default-skin .vjs-volume-menu-button.vjs-vol-0:before {
  content: "\e005";
}
.ajs-default-skin .vjs-mute-control.vjs-vol-1:before,
.ajs-default-skin .vjs-volume-menu-button.vjs-vol-1:before {
  content: "\e004";
}
.ajs-default-skin .vjs-mute-control.vjs-vol-2:before,
.ajs-default-skin .vjs-volume-menu-button.vjs-vol-2:before {
  content: "\e003";
}
.ajs-default-skin .vjs-volume-control {
  width: 5em;
  float: right;
}
.ajs-default-skin .vjs-volume-bar {
  width: 5em;
  height: 0.6em;
  margin: 1.1em auto 0;
}
.ajs-default-skin .vjs-volume-menu-button .vjs-menu-content {
  height: 2.9em;
}
.ajs-default-skin .vjs-volume-level {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.6em;
  background: #58759B ;
}
.ajs-default-skin .vjs-volume-bar .vjs-volume-handle {
  width: 0.5em;
  display:none;
  height: 0.5em;
}
.ajs-default-skin .vjs-volume-handle:before {
  font-size: 0.9em;
  top: -0.2em;
  left: -0.2em;
  width: 1em;
  height: 1em;
}
.ajs-default-skin .vjs-volume-menu-button .vjs-menu .vjs-menu-content {
  width: 6em;
  left: -4em;
}
/* Progress
--------------------------------------------------------------------------------
*/
.ajs-default-skin .vjs-progress-control {
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  font-size: 0.3em;
  height: 1em;
  /* Set above the rest of the controls. */
  top: -1em;
  /* Shrink the bar slower than it grows. */
  /* transition */
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* On hover, make the progress bar grow to something that's more clickable.
    This simply changes the overall font for the progress bar, and this
    updates both the em-based widths and heights, as wells as the icon font */
.ajs-default-skin:hover .vjs-progress-control {
  font-size: .9em;
  /* Even though we're not changing the top/height, we need to include them in
      the transition so they're handled correctly. */

  /* transition */
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* Box containing play and load progresses. Also acts as seek scrubber. */
.ajs-default-skin .vjs-progress-holder {
  height: 100%;
}
/* Progress Bars */
.ajs-default-skin .vjs-progress-holder .vjs-play-progress,
.ajs-default-skin .vjs-progress-holder .vjs-load-progress {
  position: absolute;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  /* Needed for IE6 */
  left: 0;
  top: 0;
}
.ajs-default-skin .vjs-play-progress {
  /*
    Using a data URI to create the white diagonal lines with a transparent
      background. Surprisingly works in IE8.
      Created using http://www.patternify.com
    Changing the first color value will change the bar color.
    Also using a paralax effect to make the lines move backwards.
      The -50% left position makes that happen.
  */

  background: #FFDB60;
}
.ajs-default-skin .vjs-load-progress {
  background: #666 /* IE8- Fallback */;
}
.ajs-default-skin .vjs-seek-handle {
  width: 1.5em;
  height: 100%;
  display:none;
}
.ajs-default-skin .vjs-seek-handle:before {
  padding-top: 0.1em /* Minor adjustment */;
}
/* Time Display
--------------------------------------------------------------------------------
*/
.ajs-default-skin .vjs-time-controls {
  font-size: 1em;
  /* Align vertically by making the line height the same as the control bar */
  line-height: 3em;
}
.ajs-default-skin .vjs-current-time {
  float: left;
}
.ajs-default-skin .vjs-duration {
  float: left;
}
/* Remaining time is in the HTML, but not included in default design */
.ajs-default-skin .vjs-remaining-time {
  display: none;
  float: left;
}
.vjs-time-divider {
  float: left;
  line-height: 3em;
}
/* Fullscreen
--------------------------------------------------------------------------------
*/
.ajs-default-skin .vjs-fullscreen-control {
  width: 3.8em;
  cursor: pointer;
  float: right;
}
.ajs-default-skin .vjs-fullscreen-control:before {
  content: "\e009";
}
/* Switch to the exit icon when the player is in fullscreen */
.ajs-default-skin.vjs-fullscreen .vjs-fullscreen-control:before {
  content: "\e00a";
}
/* Big Play Button (play button at start)
--------------------------------------------------------------------------------
Positioning of the play button in the center or other corners can be done more
easily in the skin designer. http://designer.videojs.com/
*/
.ajs-default-skin .vjs-big-play-button {
    display: block; /* Start hidden */
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9.0em;
    height: 9.0em;
    margin: -48px 0 0 -45px;
    text-align: center;
    vertical-align: center;
    cursor: pointer !important;
    border: 0em solid #EEE;
    opacity: 1;
	background: rgb(56, 56, 56);
	border-radius:6px;
    background: linear-gradient(top, #454545 0%,#232323 50%,#161616 50%,#3f3f3f 100%);
    /* CSS Shadows */
    -webkit-box-shadow:0 0 400px rgba(255,255,255,0.8), 0 0 300px rgba(255,255,255,0.8), 0 0 200px rgba(255,255,255,0.8);
    -moz-box-shadow:0 0 400px rgba(255,255,255,0.8), 0 0 300px rgba(255,255,255,0.8), 0 0 200px rgba(255,255,255,0.8);
    box-shadow:0 0 400px rgba(255,255,255,0.8), 0 0 300px rgba(255,255,255,0.8), 0 0 200px rgba(255,255,255,0.8);
	-webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	transition: background 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
/* Hide if controls are disabled */
.ajs-default-skin.vjs-controls-disabled .vjs-big-play-button {
  display: none;
}
/* Hide when video starts playing */
.ajs-default-skin.vjs-has-started .vjs-big-play-button {
  display: none;
}
/* Hide on mobile devices. Remove when we stop using native controls
    by default on mobile  */
.ajs-default-skin.vjs-using-native-controls .vjs-big-play-button {
  display: none;
}
.ajs-default-skin:hover .vjs-big-play-button,
.ajs-default-skin .vjs-big-play-button:focus {
  outline: 0;
  border-color: #fff;
  /* IE8 needs a non-glow hover state */
  background-color: #505050;
  background-color: rgba(50, 50, 50, 0.75);
  /* box-shadow */
  -webkit-box-shadow: 0 0 3em #ffffff;
  -moz-box-shadow: 0 0 3em #ffffff;
  box-shadow: 0 0 3em #ffffff;
  /* transition */
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
.ajs-default-skin div.vjs-big-play-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 35px;
    height: 42px;
    margin: -30px 0 0 -22px; /* Using negative margin to center image. */
}
.ajs-default-skin .vjs-big-play-button  span:before {
	        content: '\E006';
			font-family:Atlantis;
			font-size:5.5em;
			color:#fff;
}

.ajs-default-skin:hover div.vjs-big-play-button span:before {
	color:#fffff1;
}
/* Loading Spinner
--------------------------------------------------------------------------------
*/
.vjs-loading-spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5em;
  line-height: 1;
  width: 1em;
  height: 1em;
  margin-left: -0.5em;
  margin-top: -0.5em;
  opacity: 0.75;
  /* animation */
  -webkit-animation: spin 1.5s infinite linear;
  -moz-animation: spin 1.5s infinite linear;
  -o-animation: spin 1.5s infinite linear;
  animation: spin 1.5s infinite linear;
}
/* .ajs-default-skin .vjs-loading-spinner:before {
  content: "\e00a";
  font-family: Atlantis;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  text-align: center;
  text-shadow: 0em 0em 0.1em #000;
} */
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/* Menu Buttons (Captions/Subtitles/etc.)
--------------------------------------------------------------------------------
*/
.ajs-default-skin .vjs-menu-button {
  float: right;
  cursor: pointer;
}
.ajs-default-skin .vjs-menu {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0em;
  /* (Width of vjs-menu - width of button) / 2 */

  width: 0em;
  height: 0em;
  margin-bottom: 3em;
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-top: 1.55em solid #000000;
  /* Same width top as ul bottom */

  border-top-color: rgba(7, 40, 50, 0.5);
  /* Same as ul background */

}
/* Button Pop-up Menu */
.ajs-default-skin .vjs-menu-button .vjs-menu .vjs-menu-content {
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 10em;
  bottom: 1.5em;
  /* Same bottom as vjs-menu border-top */

  max-height: 15em;
  overflow: auto;
  left: -5em;
  /* Width of menu - width of button / 2 */

  /* background-color-with-alpha */
  background-color: #07141e;
  background-color: rgba(7, 20, 30, 0.7);
  /* box-shadow */
  -webkit-box-shadow: -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.2);
  -moz-box-shadow: -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.2);
  box-shadow: -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.2);
}
.ajs-default-skin .vjs-menu-button:hover .vjs-menu {
  display: block;
}
.ajs-default-skin .vjs-menu-button ul li {
  list-style: none;
  margin: 0;
  padding: 0.3em 0 0.3em 0;
  line-height: 1.4em;
  font-size: 1.2em;
  text-align: center;
  text-transform: lowercase;
}
.ajs-default-skin .vjs-menu-button ul li.vjs-selected {
  background-color: #000;
}
.ajs-default-skin .vjs-menu-button ul li:focus,
.ajs-default-skin .vjs-menu-button ul li:hover,
.ajs-default-skin .vjs-menu-button ul li.vjs-selected:focus,
.ajs-default-skin .vjs-menu-button ul li.vjs-selected:hover {
  outline: 0;
  color: #111;
  /* background-color-with-alpha */
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.75);
}
.ajs-default-skin .vjs-menu-button ul li.vjs-menu-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 2em;
  padding: 0;
  margin: 0 0 0.3em 0;
  font-weight: bold;
  cursor: default;
}
/* Subtitles Button */
.ajs-default-skin .vjs-subtitles-button:before {
  content: "\e00c";
}
/* Captions Button */
.ajs-default-skin .vjs-captions-button:before {
  content: "\e008";
}
/* Replacement for focus outline */
.ajs-default-skin .vjs-captions-button:focus .vjs-control-content:before,
.ajs-default-skin .vjs-captions-button:hover .vjs-control-content:before {
  /* box-shadow */
  -webkit-box-shadow: 0 0 1em #ffffff;
  -moz-box-shadow: 0 0 1em #ffffff;
  box-shadow: 0 0 1em #ffffff;
}
/*
REQUIRED STYLES (be careful overriding)
================================================================================
When loading the player, the video tag is replaced with a DIV,
that will hold the video tag or object tag for other playback methods.
The div contains the video playback element (Flash or HTML5) and controls,
and sets the width and height of the video.

** If you want to add some kind of border/padding (e.g. a frame), or special
positioning, use another containing element. Otherwise you risk messing up
control positioning and full window mode. **
*/
.atlantis-js {
  background-color: #000;
  position: relative;
  padding: 0;
  /* Start with 10px for base font size so other dimensions can be em based and
     easily calculable. */

  font-size: 10px;
  /* Allow poster to be vertially aligned. */

  vertical-align: middle;
  /*  display: table-cell; */
  /*This works in Safari but not Firefox.*/

  /* Provide some basic defaults for fonts */

  font-weight: normal;
  font-style: normal;
  /* Avoiding helvetica: issue #376 */

  font-family: Arial, sans-serif;
  /* Turn off user selection (text highlighting) by default.
     The majority of player components will not be text blocks.
     Text areas will need to turn user selection back on. */

  /* user-select */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Playback technology elements expand to the width/height of the containing div
    <video> or <object> */
.atlantis-js .vjs-tech {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Fix for Firefox 9 fullscreen (only if it is enabled). Not needed when
   checking fullScreenEnabled. */
.atlantis-js:-moz-full-screen {
  position: absolute;
}
/* Fullscreen Styles */
body.vjs-full-window {
  padding: 0;
  margin: 0;
  height: 100%;
  /* Fix for IE6 full-window. http://www.cssplay.co.uk/layouts/fixed.html */
  overflow-y: auto;
}
.atlantis-js.vjs-fullscreen {
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
  /* IE6 full-window (underscore hack) */
  _position: absolute;
}
.atlantis-js:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
}
.atlantis-js.vjs-fullscreen.vjs-user-inactive {
  cursor: none;
}
/* Poster Styles */
.vjs-poster {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  cursor: pointer;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.vjs-poster img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  padding: 0;
  width: 100%;
}
/* Hide the poster when native controls are used otherwise it covers them */
/* Hide the poster when native controls are used otherwise it covers them */
.atlantis-js.vjs-using-native-controls .vjs-poster {
  display: none;
}
/* Text Track Styles */
/* Overall track holder for both captions and subtitles */
.atlantis-js .vjs-text-track-display {
  text-align: center;
  position: absolute;
  bottom: 4em;
  /* Leave padding on left and right */
  left: 1em;
  right: 1em;
}
/* Individual tracks */
.atlantis-js .vjs-text-track {
  display: none;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 0.1em;
  /* Transparent black background, or fallback to all black (oldIE) */
  /* background-color-with-alpha */
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
}
.atlantis-js .vjs-subtitles {
  color: #ffffff /* Subtitles are white */;
}
.atlantis-js .vjs-captions {
  color: #ffcc66 /* Captions are yellow */;
}
.vjs-tt-cue {
  display: block;
}
/* Hide disabled or unsupported controls */
.ajs-default-skin .vjs-hidden {
  display: none;
}
.vjs-lock-showing {
  display: block !important;
  opacity: 1;
  visibility: visible;
}

@media all {
    div.vjs-control-bar {
        font-size: 1.2em;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
}

@media all and (max-device-width: 50em) {
    div.vjs-control-bar {
        font-size: 1.8em;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
}

/*#source /local/plugins/sharing/style/sharing.css */
div.vjs-control-bar div.vjs-sharing-button:before 
{
	content: '\E000';
	font-size:1.6em;
}


div.vjs-control-bar div.vjs-sharing-button div
{
    width:auto;
    background: none;  
    font-family: Atlantis;
	margin-top:0.25em;
}

div.vjs-control-bar div.vjs-sharing-button .vjs-quality-text
{
    font-size: 1.7em;
    position: relative;
    bottom: -0.05em;
    -webkit-text-stroke: 0.1px;
}

div.vjs-control-bar div.vjs-sharing-button .vjs-menu-item
{
    padding: 0px 0px 0px 0.4em;
    height: 1.35em;
    margin: 0 0;
    opacity: 1;
    background: none repeat scroll 0 0 #333;
    font-family: Arial, sans-serif;
    font-size: 1.333em;
}

div.vjs-control-bar div.vjs-sharing-button .vjs-menu-item:hover
{
    background: none repeat scroll 0 0 #BBB;
}

div.vjs-control-bar div.vjs-sharing-button .vjs-menu-item img
{
    float:left;
    margin-top:0.2em;
    height: 1em;
}

div.vjs-control-bar div.vjs-sharing-button .vjs-share-network
{
    margin-left:0.3em;
    margin-top:0em;
    background:none;
    float:left;
    font-family: Arial, sans-serif;
}

div.vjs-control-bar div.vjs-sharing-button .vjs-share-network span
{
    font-family: Atlantis;
    margin-right: 0.3em;
    color: #34506B;
    z-index: 2;
    position: relative;
}

div.vjs-control-bar div.vjs-sharing-button span.vjs-share-icon-background {   
    left: 1.4em;
    top: 0;
    float: left;
    z-index: 1;
    color: #ffffff;
    font-size: 0.9em; 

}

div.vjs-control-bar div.vjs-sharing-button .vjs-menu
{
    width:9.0em;
	bottom:0;
	height:auto;
    left:-6em;
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.9;
}

div.vjs-control-bar div.vjs-sharing-button .vjs-menu-title
{
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0 0;
    padding: 0.2em 0 0.1em;
    text-transform: none;
    font-family: Arial, sans-serif;
	background: none repeat scroll 0 0 #333;
	display:none;
}

div.vjs-control-bar div.vjs-sharing-button li.vjs-menu-arrow
{
    padding: 0 0 0 3.0em;
}

div.vjs-control-bar div.vjs-sharing-button li.vjs-menu-arrow:hover
{
    background: transparent;
    cursor: default;
}

div.vjs-control-bar div.vjs-sharing-button div.vjs-menu-arrow
{
    height: 0;
    line-height: 3em;
    margin: 0;
    padding: 0;
    width: 0;
    border-color: #333 transparent transparent;
    border-style: solid;
    border-width: 0.9em 0.9em 0;
}


/*#source /local/plugins/overlay/style/overlay.css */
div.vjsOverlay {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
	top:0;
}

div.vjsVisible {
    visibility: visible !important;
    opacity: 1 !important;
}

div.testTemplate {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    text-align: center;
    font-size: 1.5em;
    color: white;
    background: rgb(128, 128, 128);
    background: rgba(128, 128, 128, 0.8);
}

div.vjsVisible div.testTop {
    opacity: 1 !important;
    visibility: visible;
}

div.testTop {
    visibility: hidden;
    opacity: 0;
    position: relative;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    text-align: center;
    font-size: 1.5em;
    color: white;
    background: rgb(128, 128, 128);
    background: rgba(128, 128, 128, 0.8);
}

    div.testTop a {
        color: rgb(255, 255, 200);
    }

div.testBottom {
    position: relative;
    top: 1.2em;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    text-align: center;
    font-size: 1.5em;
    color: rgb(255, 255, 220);
    background: rgb(160, 40, 100);
    background: rgba(160, 40, 100, 0.8);
}

div.testMiddle {
    position: relative;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    text-align: center;
    font-size: 3.0em;
    color: rgb(80, 10, 50);
    background: rgb(240, 200, 200);
    background: rgba(240, 200, 200, 0.8);
}

div.calltoaction {
    position: absolute;
    border: 0.3em #111111 solid;
	right:0;
	left:0;
	top:0;
	bottom:2.8em;
	display:block;
    text-align: center;
    font-size: 1.5em;
    color: #FFE177;
	z-index:2;
		background: rgb(85, 105, 132); /* Old browsers */
    background: -moz-linear-gradient(center top, rgb(85, 105, 132) 0%, rgb(92, 113, 141)) repeat scroll 0 0 transparent;
    background: -webkit-gradient( linear, left top, left bottom, from(rgb(85, 105, 132)), to(rgb(92, 113, 141)));
    background: -webkit-linear-gradient(center top, rgb(85, 105, 132) 0%, rgb(92, 113, 141) 100%);
    background: -o-linear-gradient(center top, rgb(85, 105, 132) 0%, rgb(92, 113, 141) 100%);
    background: -ms-linear-gradient(center top, rgb(85, 105, 132) 0%, rgb(92, 113, 141) 100%);
	
	

    font-family: 'Aldrich', Verdana, Helvetica, sans-serif;
    opacity: 0;
    -moz-transition: opacity 0.3s ease-in 0s;
    -o-transition: opacity 0.3s ease-in 0s;
    -webkit-transition: opacity 0.3s ease-in 0s;
    transition: opacity 0.3s ease-in 0s;
}

div.calltoactioninsert {
    position: absolute;
	top: 45%;
	margin-top:-9.0em;
	margin-left:-30em;
	margin-right:-30em;
	left:50%;
	right:50%;
}



div.vjsVisible div.calltoaction {
    opacity: 1 !important;
}

div.calltoaction h1 {
    margin: 0;
    padding: 0;
    font-size: 1.8em;
	margin:0 0 0;
}

div.calltoaction p {
    font-weight: bold;
    color: #FFF;
    margin: 0.5% 0.2em;
    padding: 0.1em;
	font-size:1.2em;
}




div.ajs-end-of-video-call-to-action-container {
	position: absolute;
	z-index:3;
	background: #58759B;
	top: 0;
	bottom: 3.8em;
	right: 0;
	left: 0;
}

div.ajs-end-of-video-call-to-action {
	position: absolute;
	z-index:3;
	text-align: left;
	background: #58759B;
	color:#fff;
	top: .3em;
	bottom: .3em;
	right: 0;
	font-family: Courier New;
	left: 0;
	font-size: 1.9em;
	padding: 2em 4em;
}

div.ajs-end-of-video-call-to-action-small h2 {
	text-align: left;
	width: 20em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.ajs-end-of-video-call-to-action-small p{
	text-align: left;
	width: 30em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.ajs-end-of-video-call-to-action-small {
	position: absolute;
	z-index:3;
	text-align: left;
	color:#fff;
	top: -10.5em;
	bottom: .4em;
	right: .3em;
	font-family: Courier New;
	left: .3em;
	font-size: 1.5em;
	padding: 25% 4em;
	border-radius:2px;
}

a.ajs-call-to-action-button {
    position: relative;
    top: 1.4em;
    font-family: Courier New;
    font-size: 0.8em;
    color: #123d54;
    padding: .2em 1em .2em;
    height: 1.4em;
	text-decoration:none;
	margin: 0 auto;
	display:block;
	width: 7em;
	text-align: center;
    background: #FFDB56; /* Old browsers */
    background: -moz-linear-gradient( top, #FFDB56 0%, #FFE177);
    background: -webkit-gradient( linear, left top, left bottom, from(#FFDB56), to(#FFE177));
    background: -webkit-linear-gradient(center top, #FFDB56 0%, #FFE177 100%);
    background: -o-linear-gradient(center top, #FFDB56 0%, #FFE177 100%);
    background: -ms-linear-gradient(center top, #FFDB56 0%, #FFE177 100%);	
	font-weight:bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0px solid #003366;
}

    a.ajs-call-to-action-button:hover {
        cursor: pointer;
        background: -moz-linear-gradient( top, #FACF34 0%, #FCD858);
        background: -webkit-gradient( linear, left top, left bottom, from(#FACF34), to(#FCD858));
    }

/*#source /local/plugins/resolutionswitching/style/resolution.css */
div.vjs-control-bar div.vjs-quality-button {
    width: 4.0em;
}

@media all and (max-device-width: 50em) {
    div.vjs-control-bar div.vjs-quality-button
    {
        display: none;
    }
}

div.vjs-control-bar div.vjs-quality-button div
{
    width:auto;
    background-image:none;
    padding-top: 0.8em;
}

div.vjs-control-bar div.vjs-quality-button span.vjs-quality-text
{
    font-family: Arial,sans-serif;
	font-size:1.2em;
}

.vjs-control-bar .vjs-quality-button .vjs-menu
{
    width:6.5em;
    left:-5em;
	height:auto;
	bottom:0;
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.9;
}

    div.vjs-control-bar div.vjs-quality-button .vjs-menu-item
    {
        padding: 0.2em 0 0.2em 0em;
        height: 1.4em;
        margin: 0 0;
        opacity: 1;
        background: none repeat scroll 0 0 #333;
        font-family: Arial, sans-serif;
    }

@media all and (max-device-width: 50em) {
    div.vjs-control-bar div.vjs-quality-button .vjs-menu-item
    {
        height: 3.0em;
    }
}

div.vjs-control-bar div.vjs-quality-button ul.vjs-menu li.vjs-selected
{
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
	padding: 0.2em 1.2em 0.2em 0em;
}

div.vjs-control-bar div.vjs-quality-button ul.vjs-menu li.vjs-selected:before
{
    content: '\E006';
	font-family:"Atlantis";
	font-size:0.7em;
	padding:0 0.5em;
	color:#FFF;
}

div.vjs-control-bar div.vjs-quality-button ul.vjs-menu li.vjs-selected:hover
{
    color: #111111;
	box-shadow: none;
}

div.vjs-control-bar div.vjs-quality-button .vjs-menu-item:hover
{
    background: none repeat scroll 0 0 #BBB;
	box-shadow: none;
}

div.vjs-control-bar div.vjs-quality-button .vjs-menu-title
{
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0 0;
    padding: 0.2em 0 0.2em;
    text-transform: none;
    font-family: Arial, sans-serif;
	background: none repeat scroll 0 0 #333;
}

div.vjs-control-bar div.vjs-quality-button .vjs-menu-title:hover
{
    color: #ccc
}

div.vjs-control-bar div.vjs-quality-button li.vjs-menu-arrow
{
    padding: 0 0 0 2.0em;
}

div.vjs-control-bar div.vjs-quality-button li.vjs-menu-arrow:hover
{
    background: transparent;
    cursor: default;
}

div.vjs-control-bar div.vjs-quality-button div.vjs-menu-arrow
{
    height: 0;
    line-height: 3em;
    margin: 0;
    padding: 0;
    width: 0;
    border-color: #333 transparent transparent;
    border-style: solid;
    border-width: 0.9em 0.9em 0;
}

div.ajs-related-video-container
{
	display: inline-block;
	width: 8.4em;
    height: 7.5em;
    vertical-align: top;
    zoom: 1;
	margin: 0.2em;
	background: rgb(100, 100, 100); /* Old browsers */
	
	

    -moz-transition: background 0.1s ease-in 0s;
    -o-transition: background 0.1s ease-in 0s;
    transition: background 0.1s ease-in 0s;
    -webkit-transition: background 0.1s ease-in 0s;


	
}

div.ajs-related-video-container:hover
{
	cursor: pointer;
	background: rgb(80, 80, 80); /* Old browsers */
	-moz-transition: background 0s ease-in 0s;
    -o-transition: background 0s ease-in 0s;
    transition: background 0s ease-in 0s;
    -webkit-transition: background 0s ease-in 0s;
}

div.ajs-related-video-container p
{
	padding: 0.2em 0.3em 0 0.3em;
	margin: 0 auto;
	text-align: center;
	font-size:0.8em;
	opacity:0.7;
	white-space:normal;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-text-stroke: 0.1px;
	

	width: 10.0em;
	color:white;
	-moz-transition: opacity 0.1s ease-in 0s;
    -o-transition: opacity 0.1s ease-in 0s;
    transition: opacity 0.1s ease-in 0s;
    -webkit-transition: opacity 0.1s ease-in 0s;
}

div.ajs-related-video-container:hover p
{
	opacity:1;
	-moz-transition: opacity 0 ease-in 0s;
    -o-transition: opacity 0 ease-in 0s;
    transition: opacity 0 ease-in 0s;
    -webkit-transition: opacity 0 ease-in 0s;
}

div.ajs-related-videos
{
    position: absolute;
    z-index: 3;
	right:0;
	left:0;
	bottom:0;
	display:block;
    text-align: center;
    font-size: 1.5em;
    color: white;
    font-family: Verdana;
    opacity: 0;
    -moz-transition: opacity 0.3s ease-in 0s;
    -o-transition: opacity 0.3s ease-in 0s;
    transition: opacity 0.3s ease-in 0s;
    -webkit-transition: opacity 0.3s ease-in 0s;

	overflow:hidden;
	line-height:1.0em;
		
	text-align: left;

	padding:1.2em 0 0;
	
	width:100%;
}

.vjsVisible .ajs-related-videos{
	opacity: 1;
}

div.ajs-related-video-master
{
background:rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);

}

div.vjs-lock-showing
{
    opacity: 1 !important;
	visibility: visible !important;
}

div.ajs-related-videos h2 {
	text-align: left;
	padding: 0.1em 0.8em 0.1em 0.4em;
	top:0;
	margin: 0;
	font-size:1.0em;
	font-weight: normal;
	background:rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
	border-radius: 0 5px 0 0;
	float: left;	
	position:absolute;
}

div.vjsVisible div.related-videos{
    opacity: 1 !important;
}

span.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

div.ajs-related-video-container img{
    width: 100%;
	height:4em;
	border:none;
	-webkit-transition: height 0.3s ease-out 0s;
	opacity:0.7;
		-moz-transition: opacity 0.1s ease-in 0s;
    -o-transition: opacity 0.1s ease-in 0s;
    transition: opacity 0.1s ease-in 0s;
    -webkit-transition: opacity 0.1s ease-in 0s;
}

div.ajs-related-video-container:hover img{
    opacity:1;
		-moz-transition: opacity 0 ease-in 0s;
    -o-transition: opacity 0 ease-in 0s;
    transition: opacity 0 ease-in 0s;
    -webkit-transition: opacity 0 ease-in 0s;
}

div.videoContainer {
	display:inline-block;
	float:left;
}

img.selectionImage {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:234px;
}

div.selectionButton {
	background: #333;
	cursor: pointer;
	margin: 0 0.4em 0.55em 0.3em;
	padding: 0em;
	opacity: 0.7;
		-webkit-transition: opacity 0.2s ease-in-out;
	  -moz-transition: opacity 0.2s ease-in-out;
	  -ms-transition: opacity 0.2s ease-in-out;
	  -o-transition: opacity 0.2s ease-in-out;
	  transition: opacity 0.2s ease-in-out;
}

div.selectionButton:hover {
	opacity: 1;
}

div.selectionButton:hover span.video-selection-play-overlay:before{
	opacity:0.8;
}

span.selectionText {
	font-size:1.2em;
	font-family:'Aldrich', sans-serif;
	text-align: center;
	width:100%;
	color: #FFF;
	display:inline-block;
	line-height:1.8em;
	height:34px;
}

div.video-button-panel {
	float:left;

}

div.selection-image-container {
	position:relative;

}

span.video-selection-play-overlay:before{
	font-family:Atlantis;
	content:'\E006';
		font-size: 4.5em;
		color: #fff;
		opacity:0.8;
		
}

span.video-selection-play-overlay {
	position: absolute;
	width: 70px;
	height: 80px;
	top:58px;
	left:50%;
	margin-left:-30px;
	margin-top:-40px;
	text-shadow:0em 0em 6em;
}

div.wrapper-alternate {
	width: 1046px;
	margin: 80px auto;
	height:400px;
}

div.ajs-center-video-text {
	text-align: center;
}


div.vjsVisible span.ajs-video-annotation {
	opacity:1 !important;
	visibility: visible !important;
}

div#whyVideo div.vjs-poster img {
	height:450px !important;
	width:800px !important;
}

div#back_header {
	z-index:10;
}

div.vjsPoster {
    visibility: visible;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
}

div.vjsInvisible {
    visibility: hidden !important;
    opacity: 0 !important;
	z-index:0 !important;
}

div.vjsInvisible div.ajs-poster-mask {
    visibility: hidden !important;
    opacity: 0 !important;
	z-index:0 !important;	
	display:none;
}


div.ajs-poster-title{
	top: 0.9em;
	position: absolute;
	background: rgb(85, 105, 132);
	font-size: 3.5em;
	color: white;
	z-index: 1;
	padding: 0.1em 0.5em 0.1em 1.3em;
	font-family: Aldrich;
}

div.ajs-poster-mask{
	height: 100%;
	width: 100&;
	position: relative;
	z-index: 2;
	opacity: 0;
			-webkit-transition: opacity 0.2s ease-in-out;
	  -moz-transition: opacity 0.2s ease-in-out;
	  -ms-transition: opacity 0.2s ease-in-out;
	  -o-transition: opacity 0.2s ease-in-out;
	  transition: opacity 0.2s ease-in-out;
	-webkit-box-shadow: inset 0 0 250px rgba(255,255,255,0.3);
    box-shadow: inset 0 0 250px rgba(255,255,255,0.3);
}

.ajs-default-skin:hover div.ajs-poster-mask{

	opacity:1;

}


.video-pause-toggle{
	text-align:center;
}

.vjsOverlay.vjsVisible .video-pause-toggle{
	opacity:1;
}

.vjsOverlay.video-pause-toggle{
	opacity:0;
}


span.video-pause-call-to-action, span.ajs-video-annotation{
	background:#222;
	padding:0.3em 0;
	color:#FFE;	
	display:block;
	width:100%;
	font-size:1.7em;
	position:relative;
	top:0;
	z-index:4;
	cursor:default;
	font-family: 'Aldrich',sans-serif;
	transition: opacity .3s ease-in-out;
   -moz-transition: opacity .3s ease-in-out .2s;
   -webkit-transition: opacity .3s ease-in-out .2s;
}

span.video-pause-call-to-action a:visited{
	color:#FFDB60;	
	text-decoration:underline;
}

span.video-pause-call-to-action a:link{
	color:#FFDB60;
	text-decoration:underline;
}

span.video-pause-call-to-action a:hover{
	color:#FFEE88;
	text-decoration:underline;	
}

div.vjsInvisible span.video-pause-call-to-action{
	opacity:0;
}

.video-pause-toggle.vjsVisible span.video-pause-call-to-action{
	opacity:1;
}

div.ajs-hotspot{
color:white;
text-align:center;
font-size:2.5em;
font-family:Verdana;
	background:rgb(200,200,200);
	background:rgba(200,200,200,0.8);
	z-index:2;
	position:relative;
	opacity:0.9;
	border-radius:3px;
	border: rgb(255,255,255) solid 2px;
	border: rgba(255,255,255,0.8) solid 2px;
}

div.ajs-hotspot:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-top: -0.20em; /* Adjusts for spacing */
}

div.ajs-hotspot-insert{
display: inline-block;
  vertical-align: middle;
}

div.ajs-hotspot:hover{
	background:rgb(200,200,200);
	background:rgba(200,200,200,0.9);
	opacity:1;
	cursor:pointer;
}

div.vjsVisible .ajs-hotspot-splash {
	opacity: 1;

}

div.ajs-hotspot-splash{
	position: absolute;
	right:0;
	left:0;
	top:0;
	bottom:0em;
	display:block;
    text-align: center;
    font-size: 1.5em;
    color: #222;
	z-index:10;
	background: #000522;
	
	cursor: default;

    font-family: 'Aldrich', Verdana, Helvetica, sans-serif;
    -moz-transition: opacity 0.3s ease-in 0s;
    -o-transition: opacity 0.3s ease-in 0s;
    -webkit-transition: opacity 0.3s ease-in 0s;
    transition: opacity 0.3s ease-in 0s;
	opacity: 0;
}

div.ajs-hotspot-splash img{
	display:block;
	margin:4.5em auto;
}

div.ajs-hotspot-splash h1{
	margin: 0.8em 0 0;
	color:#F6EF4E;
	font-size:4em;
	line-height: 1em;
}

div.ajs-hotspot-splash h2{
	margin: 0em 0 1.6em;
	color:#fff;
	font-size:1.5em;
	line-height: 1em;
}

div.ajs-hotspot-splash span{
	color:#eee
}

div.ajs-hotspot-splash form{
	display:inline-block;
}

div.ajs-hotspot-splash .ajs-splash-button1{
	border:none;
	padding: 0.3em 1em;
	margin:0 0.6em;
	border-radius:3px;
	background:#CC3F50;
	display:inline-block;
	font-size:1.1em;
	color:white;
	cursor: pointer;
	text-decoration:none;
	vertical-align:bottom;
	font-family: Verdana;
}

div.ajs-hotspot-splash .ajs-splash-button1:hover{
	background:#DB4456;
}

div.ajs-hotspot-splash .ajs-splash-button2{
	border:none;
	padding: 0.3em 1em;
	margin:0 0.6em;
	border-radius:3px;
	background:#4997C4;
	display:inline-block;
	font-size:1.1em;
	color:white;
	cursor: pointer;
	vertical-align:bottom;
	font-family: Verdana;
}
div.ajs-hotspot-splash .ajs-splash-button2:hover{
	background:#54ABDD;
}

div.ajs-hotspot-splash .ajs-splash-button2:before{
	content:'\E007';
	font-family:Atlantis;
	position:relative;
	right: 0.4em;
	top:0.05em;
}

div.ajs-logo{
	z-index:20;
	position: relative;
	top:25px;
	left: 25px;
}
